@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  font-family:'space mono', monospace;
  background-color: hsl(185, 41%, 84%);
display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh;
}
.content {
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: center;
  justify-content: space-between;
  max-width: 700px; 
  height: 400px;

  box-shadow: 10px 10px 20px hsl(184, 14%, 56%);
}
.leftGrid {
display: flex;
flex-direction: row;
flex-wrap:wrap;
width:350px;
}
.rightGrid {
  display: flex;
  flex-direction: column;
  width:290px;
  padding: 15px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  border-radius: 6px;
  justify-content: center;
  }

h1{
  width: 350px;
  font-size: 16px;
}
h2 {
  width: 350px;
  font-size: 14px;

  line-height: 1.4;
}
.custom{
  background-color: hsl(189, 41%, 97%);
  padding: 10px;
  margin: 5px;
  color: grey;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  max-width: 90px;
  flex-wrap: wrap;
}

input:focus {
outline:none;
    border:1px solid hsl(172, 67%, 45%);
    box-shadow: 0 0 10px hsl(172, 67%, 45%);
}

input[type="text"]#poundSign{
  -webkit-appearance: none!important;
  color: grey;
  text-align: left;
  width: 17px;
  font-family: inherit;
  border:none;
  border-right: 0px;
  padding: 10px;
  margin: 0 0 0;
  background: hsl(189, 41%, 97%);
  border-top-left-radius:6px;
  border-bottom-left-radius: 6px;
}

input[type="number"]#billAmount{
  -webkit-appearance: none!important;
  background: hsl(189, 41%, 97%);
  width:290px;
  padding: 10px;
  font-family: inherit;
  margin: 0 0 0 -19px;
  border: none;
  border-left: 0px;
  outline: none;
  text-align: right;
  border-top-right-radius:6px;
  border-bottom-right-radius: 6px;
}
.noOfPeople {
  color: grey;
  text-align: left;
  width:320px;
  border:none;
  font-family: inherit;
  border-radius: 6px;
  padding: 10px;
  margin: 0 0 0;
  background: hsl(189, 41%, 97%);
}
.btn {
  background-color: hsl(183, 100%, 15%);
  padding: 10px;
  margin: 5px;
color: white;
border: none;
border-radius: 5px;
font-family:inherit;
width: 90px;
margin: 10px;
flex-wrap: wrap;
}
.btn:hover {
  color:hsl(183, 100%, 15%);
  background-color:hsl(189, 41%, 97%);
  transition: 200ms ease-in;
  cursor: pointer;
}

label {
  margin: 0;
  padding:0;
}

input[type="radio"]{
  margin: 0;
  padding: 0;
  width: 20px;
}

input[type="text"] {
 background-color: hsl(189, 41%, 97%);
 color:hsl(183, 100%, 15%);
 border:none;
}

.reset {
  background-color:hsl(184, 14%, 56%);
  padding: 10px;
  position: relative;
 top: 40px;
  margin: 5px;
color:  hsl(172, 67%, 45%);
border: none;
border-radius: 5px;
font-weight: 700;
font-family:inherit;
width: 270px;
margin: 10px;
flex-wrap: wrap;
}
.reset:hover {
  color:hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  transition: 200ms ease-in;
  cursor: pointer;
}

.attribution{
  padding: 10px;
  line-height:2;
  margin: 10px;
  color:  hsl(186, 14%, 43%);
  font-size: 10px;
}

h3{
  font-size:14px;
  line-height: 0.5;
  padding: 0;
  margin: 0;
  color:hsl(184, 14%, 56%);
}

.total {
paddings-top: 20px;
}