@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root {
  --totals-cyan: hsl(172, 67%, 45%);
  --title-text-dark: hsl(183, 100%, 15%);
  --title-text-lighter: hsl(186, 14%, 43%);
  --buttons-cyan: hsl(185, 41%, 84%);
  --right-background: hsl(183, 100%, 15%);
  --light-cyan:hsl(189, 41%, 97%);
}
body {
  font-family: 'space mono', monospace;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.content {
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: center;
  justify-content: space-between;
  max-width: 700px;
  height: 400px;
  box-shadow: 10px 10px 20px hsl(184, 14%, 56%);
}
.leftGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
}
.rightGrid {
  display: flex;
  flex-direction: column;
  width: 290px;
  padding: 25px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  border-radius: 6px;
  justify-content: center;
}

h1 {
  width: 350px;
  font-size: 16px;
  TEXT-ALIGN: CENTER;
  padding-top: 40px;
  margin: 25px;
  color:var(--title-text-lighter);
  letter-spacing: 3px;
}
h2 {
  margin-top: 20px;
  font-size: 14px;
  color:var(--title-text-lighter);
}
h3 {
  font-size: 14px;
  line-height: 0.5;
  padding: 0;
  margin: 0;
  color: hsl(184, 14%, 56%);
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px hsl(172, 67%, 45%);
}
 #custom{
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: none;
  width: 29%;
  justify-content: center;
align-items:center;
text-align: center;
margin: 4px;
height: 38px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
}


.CBZ {
float:right;
display: inline;
  color: rgb(255, 102, 0);
  margin: 0;
}

.radioBtns {
  display: flex;
  flex-wrap: wrap;
}

.radioBtns input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radioBtns label {
  background-color: var(--right-background);
  color: white;
  font-family: inherit;
  display: flex;
  flex-basis: 30%;
justify-content: center;
align-items:center;
margin: 4px;
  flex-wrap: wrap;
height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.radioBtns label:hover {
  background-color: var(--totals-cyan);
  color: var(--right-background);
}

.radioBtns input[type='radio']:checked + label {
  background-color: var(--totals-cyan);
}

.radioBtns input[type='radio']:focus + label {
  border: none;
  background-color: var(--totals-cyan);
}


.submit {
  background-color: hsl(184, 14%, 56%);
  padding: 10px;
  justify-content: space-between;
  color:white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-family: inherit;
  width: 100%;
  flex-wrap: wrap;
}

.textBox {
  color:hsl(184, 14%, 56%);
  text-align: right;
  border: none;
  font-family: inherit;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: bigger;
  background: hsl(189, 41%, 97%);
}
i {
  position: absolute;
  margin: 11px;
  color:hsl(184, 14%, 56%);
}
input[type='number'] {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: none;
width: 100%;
font-weight: 700;
}

input[type='text'] {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  border: none;
  font-weight: 700;
}

.reset {
  background-color: hsl(184, 14%, 56%);
  padding: 10px;
  position: relative;
  top: 40px;
  margin: 5px;
  color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-family: inherit;
  width: 270px;
  margin: 10px;
  flex-wrap: wrap;
}
.reset:hover {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  transition: 200ms ease-in;
  cursor: pointer;
}
.tipPerPerson,
.totalPerPerson {
  position: relative;
  text-align: right;
  top: -48px;
  font-size: 2.2rem;
  color:var(--totals-cyan);
}
.attribution {
  padding: 10px;
  line-height: 2;
  margin: 10px;
  color: hsl(186, 14%, 43%);
  font-size: 10px;
}
.attribution a {
  color: var(--totals-cyan);
}

.total {
  color: var(--light-cyan);
}
